<div id="<%= dom_id mark %>">
  <p>
    <strong>Name:</strong>
    <%= mark.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= mark.image %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= mark.deleted %>
  </p>

</div>
