<h1>Editing type payment</h1>

<%= render "form", type_payment: @type_payment %>

<br>

<div>
  <%= link_to "Show this type payment", @type_payment %> |
  <%= link_to "Back to type payments", type_payments_path %>
</div>
