<p style="color: green"><%= notice %></p>

<h1>Type payments</h1>

<div id="type_payments">
  <% @type_payments.each do |type_payment| %>
    <%= render type_payment %>
    <p>
      <%= link_to "Show this type payment", type_payment %>
    </p>
  <% end %>
</div>

<%= link_to "New type payment", new_type_payment_path %>
