<html lang="es" prefix="og: https://ogp.me/ns#"><head>
    <!-- Font Awesome [REQUIRED] -->
   <!--  <script src="https://kit.fontawesome.com/5a5e371b5e.js" crossorigin="anonymous"></script> -->
  <link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/assets/fontawesome/css/brands.css" rel="stylesheet">
  <link href="/assets/fontawesome/css/solid.css" rel="stylesheet">

    <!-- Application JS [REQUIRED] -->
    <%#= javascript_include_tag "application" %>
    <%#= stylesheet_link_tag "application"  %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <%= csrf_meta_tags %> 

  <!-- Google Tag Manager -->
<script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/Xh5Zjh8Od10-SgxpI_tcSnHR/recaptcha__es.js" crossorigin="anonymous" integrity="sha384-ocficbcSNS1XKX9u+ga10wke3YZj4TuIk9S/MC30lfl7Wk8mj37BmMG/Hydy+1Y6"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-X0TE274JSG&amp;l=dataLayer&amp;cx=c"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-PJPTCFZ"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PJPTCFZ');</script>
<!-- End Google Tag Manager -->
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="profile" href="https://gmpg.org/xfn/11">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-210616701-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-210616701-1');
</script>
  <!-- Manifest added by SuperPWA - Progressive Web Apps Plugin For WordPress -->
<link rel="manifest" href="/superpwa-manifest.json">
<link rel="prefetch" href="/superpwa-manifest.json">
<meta name="theme-color" content="#5078b4">
<!-- / SuperPWA.com -->

<!-- Optimización para motores de búsqueda de Rank Math - https://s.rankmath.com/home -->
<title>Productos - ENERGICIDAD</title>
<meta name="description" content="Las categorías, a diferencia de las etiquetas, pueden tener jerarquías. Podrías tener una categoría de Jazz y, por debajo, las ca">
<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
<link rel="canonical" href="https://energicidad.com/category/blog/">
<meta property="og:locale" content="es_ES">
<meta property="og:type" content="article">
<meta property="og:title" content="Blog - ENERGICIDAD">
<meta property="og:description" content="Las categorías, a diferencia de las etiquetas, pueden tener jerarquías. Podrías tener una categoría de Jazz y, por debajo, las ca">
<meta property="og:url" content="https://energicidad.com/category/blog/">
<meta property="og:site_name" content="ENERGICIDAD">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Blog - ENERGICIDAD">
<meta name="twitter:description" content="Las categorías, a diferencia de las etiquetas, pueden tener jerarquías. Podrías tener una categoría de Jazz y, por debajo, las ca">
<meta name="twitter:site" content="@administrador">
<meta name="twitter:label1" content="Entradas">
<meta name="twitter:data1" content="4">
<script type="application/ld+json" class="rank-math-schema">{"@context":"https://schema.org","@graph":[{"@type":"Person","@id":"https://energicidad.com/#person","name":"administrador","sameAs":["https://twitter.com/administrador"],"image":{"@type":"ImageObject","@id":"https://energicidad.com/#logo","url":"https://energicidad.com/web/wp-content/uploads/2021/07/Logo-modelo-1.png","contentUrl":"https://energicidad.com/web/wp-content/uploads/2021/07/Logo-modelo-1.png","caption":"administrador","inLanguage":"es","width":"2800","height":"600"}},{"@type":"WebSite","@id":"https://energicidad.com/#website","url":"https://energicidad.com","name":"administrador","publisher":{"@id":"https://energicidad.com/#person"},"inLanguage":"es"},{"@type":"CollectionPage","@id":"https://energicidad.com/category/blog/#webpage","url":"https://energicidad.com/category/blog/","name":"Blog - ENERGICIDAD","isPartOf":{"@id":"https://energicidad.com/#website"},"inLanguage":"es"}]}</script>
<!-- /Plugin Rank Math WordPress SEO -->

<link rel="alternate" type="application/rss+xml" title="ENERGICIDAD » Feed" href="https://energicidad.com/feed/">
<link rel="alternate" type="application/rss+xml" title="ENERGICIDAD » Feed de los comentarios" href="https://energicidad.com/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="ENERGICIDAD » Categoría Blog del feed" href="https://energicidad.com/category/blog/feed/">
<script>
window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/energicidad.com\/web\/wp-includes\/js\/wp-emoji-release.min.js?ver=6.2.2"}};
/*! This file is auto-generated */
!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){p.clearRect(0,0,i.width,i.height),p.fillText(e,0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(t,0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(p&&p.fillText)switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s("\ud83c\udff3\ufe0f\u200d\u26a7\ufe0f","\ud83c\udff3\ufe0f\u200b\u26a7\ufe0f")?!1:!s("\ud83c\uddfa\ud83c\uddf3","\ud83c\uddfa\u200b\ud83c\uddf3")&&!s("\ud83c\udff4\udb40\udc67\udb40\udc62\udb40\udc65\udb40\udc6e\udb40\udc67\udb40\udc7f","\ud83c\udff4\u200b\udb40\udc67\u200b\udb40\udc62\u200b\udb40\udc65\u200b\udb40\udc6e\u200b\udb40\udc67\u200b\udb40\udc7f");case"emoji":return!s("\ud83e\udef1\ud83c\udffb\u200d\ud83e\udef2\ud83c\udfff","\ud83e\udef1\ud83c\udffb\u200b\ud83e\udef2\ud83c\udfff")}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(e=t.source||{}).concatemoji?c(e.concatemoji):e.wpemoji&&e.twemoji&&(c(e.twemoji),c(e.wpemoji)))}(window,document,window._wpemojiSettings);
</script><script src="https://energicidad.com/web/wp-includes/js/wp-emoji-release.min.js?ver=6.2.2" type="text/javascript" defer=""></script>
<style>
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
</style>
  <link rel="stylesheet" id="wp-block-library-css" href="https://energicidad.com/web/wp-includes/css/dist/block-library/style.min.css?ver=6.2.2" media="all">
<style id="joinchat-button-style-inline-css">
.wp-block-joinchat-button{border:none!important;text-align:center}.wp-block-joinchat-button figure{display:table;margin:0 auto;padding:0}.wp-block-joinchat-button figcaption{font:normal normal 400 .6em/2em var(--wp--preset--font-family--system-font,sans-serif);margin:0;padding:0}.wp-block-joinchat-button .joinchat-button__qr{background-color:#fff;border:6px solid #25d366;border-radius:30px;box-sizing:content-box;display:block;height:200px;margin:auto;overflow:hidden;padding:10px;width:200px}.wp-block-joinchat-button .joinchat-button__qr canvas,.wp-block-joinchat-button .joinchat-button__qr img{display:block;margin:auto}.wp-block-joinchat-button .joinchat-button__link{align-items:center;background-color:#25d366;border:6px solid #25d366;border-radius:30px;display:inline-flex;flex-flow:row nowrap;justify-content:center;line-height:1.25em;margin:0 auto;text-decoration:none}.wp-block-joinchat-button .joinchat-button__link:before{background:transparent var(--joinchat-ico) no-repeat center;background-size:100%;content:"";display:block;height:1.5em;margin:-.75em .75em -.75em 0;width:1.5em}.wp-block-joinchat-button figure+.joinchat-button__link{margin-top:10px}@media (orientation:landscape)and (min-height:481px),(orientation:portrait)and (min-width:481px){.wp-block-joinchat-button.joinchat-button--qr-only figure+.joinchat-button__link{display:none}}@media (max-width:480px),(orientation:landscape)and (max-height:480px){.wp-block-joinchat-button figure{display:none}}

</style>
<link rel="stylesheet" id="fontawesome-free-css" href="https://energicidad.com/web/wp-content/plugins/getwid/vendors/fontawesome-free/css/all.min.css?ver=5.5.0" media="all">
<link rel="stylesheet" id="slick-css" href="https://energicidad.com/web/wp-content/plugins/getwid/vendors/slick/slick/slick.min.css?ver=1.9.0" media="all">
<link rel="stylesheet" id="slick-theme-css" href="https://energicidad.com/web/wp-content/plugins/getwid/vendors/slick/slick/slick-theme.min.css?ver=1.9.0" media="all">
<link rel="stylesheet" id="getwid-blocks-css" href="https://energicidad.com/web/wp-content/plugins/getwid/assets/css/blocks.style.css?ver=1.8.7" media="all">
<style id="getwid-blocks-inline-css">
.wp-block-getwid-section .wp-block-getwid-section__wrapper .wp-block-getwid-section__inner-wrapper{max-width: 640px;}
</style>
<link rel="stylesheet" id="classic-theme-styles-css" href="https://energicidad.com/web/wp-includes/css/classic-themes.min.css?ver=6.2.2" media="all">
<style id="global-styles-inline-css">
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');--wp--preset--duotone--midnight: url('#wp-duotone-midnight');--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);}:where(.is-layout-flex){gap: 0.5em;}body .is-layout-flow > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-flow > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-flow > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-constrained > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-constrained > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width: var(--wp--style--global--content-size);margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignwide{max-width: var(--wp--style--global--wide-size);}body .is-layout-flex{display: flex;}body .is-layout-flex{flex-wrap: wrap;align-items: center;}body .is-layout-flex > *{margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
.wp-block-navigation a:where(:not(.wp-element-button)){color: inherit;}
:where(.wp-block-columns.is-layout-flex){gap: 2em;}
.wp-block-pullquote{font-size: 1.5em;line-height: 1.6;}
</style>
<link rel="stylesheet" id="contact-form-7-css" href="https://energicidad.com/web/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.7.6" media="all">
<link rel="stylesheet" id="libs_css-css" href="https://energicidad.com/web/wp-content/themes/energicidad/css/libs.css?ver=1.0.0" media="all">
<link rel="stylesheet" id="style_css-css" href="https://energicidad.com/web/wp-content/themes/energicidad/css/style.css?ver=2.0.1" media="all">
<link rel="stylesheet" id="energicidad-style-css" href="https://energicidad.com/web/wp-content/themes/energicidad/style.css?ver=3.1.13" media="all">
<link rel="stylesheet" id="fancybox-css" href="https://energicidad.com/web/wp-content/plugins/easy-fancybox/fancybox/1.5.4/jquery.fancybox.min.css?ver=6.2.2" media="screen">
<link rel="stylesheet" id="joinchat-css" href="https://energicidad.com/web/wp-content/plugins/creame-whatsapp-me/public/css/joinchat-btn.min.css?ver=4.5.20" media="all">
<script src="https://energicidad.com/web/wp-content/themes/energicidad/js/jquery-3.6.0.min.js?ver=3.5.0" id="jquery-js"></script>
<link rel="https://api.w.org/" href="https://energicidad.com/wp-json/"><link rel="alternate" type="application/json" href="https://energicidad.com/wp-json/wp/v2/categories/12"><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://energicidad.com/web/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://energicidad.com/web/wp-includes/wlwmanifest.xml">
<meta name="generator" content="WordPress 6.2.2">
<link rel="icon" href="https://energicidad.com/web/wp-content/uploads/2021/07/cropped-WD_Icon-2-e1626200372396-32x32.png" sizes="32x32">
<link rel="icon" href="https://energicidad.com/web/wp-content/uploads/2021/07/cropped-WD_Icon-2-e1626200372396-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="https://energicidad.com/web/wp-content/uploads/2021/07/cropped-WD_Icon-2-e1626200372396-180x180.png">
<meta name="msapplication-TileImage" content="https://energicidad.com/web/wp-content/uploads/2021/07/cropped-WD_Icon-2-e1626200372396-270x270.png">
    <style id="wp-custom-css">
      .aside #text-2.widget { background-color: #5078B4 !important; text-align: center; color: #fff; }    </style>
    <style type="text/css">body.snackbar--show .snackbar {
      -webkit-transform: translateY(0);
      transform: translateY(0); 
    }
    .snackbar {
      box-sizing: border-box;
      background-color: #121213;
      color: #fff;
      padding: 10px 55px 10px 10px;
      position: fixed;
      z-index: 9999999999999999;
      left: 15px;
      bottom: 15px;
      border-radius: 5px 8px 8px 5px;
      max-width: 90%;
      min-height: 48px;
      line-height: 28px;
      font-size: 16px;
      -webkit-transform: translateY(150%);
      transform: translateY(150%);
      will-change: transform;
      -webkit-transition: -webkit-transform 200ms ease-in-out;
      -webkit-transition-delay: 0s;
          transition-delay: 0s;
      -webkit-transition: -webkit-transform 200ms ease-in-out false;
      transition: -webkit-transform 200ms ease-in-out false;
      transition: transform 200ms ease-in-out false;
      transition: transform 200ms ease-in-out false, -webkit-transform 200ms ease-in-out false; 
    }
    .snackbar p {
      margin: 0;
      color: #fff;
      text-align: center; 
    }
    .snackbar .snackbar-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 100%;
      padding: 0;
      background: #2a2a2a;
      border: none;
      font-size: 28px;
      font-weight: normal;
      border-radius: 0 5px 5px 0;
      color: #FFF;
      font-family: Arial, Helvetica, sans-serif;
    }
    .snackbar .snackbar-close:hover,
    .snackbar .snackbar-close:focus {
      background: #3f3f3f;
    }
    .snackbar a {
      color: #FFF;
      font-weight: bold;
      text-decoration: underline; 
    }</style></head>

<!-- <body > -->
<body class="archive category category-blog category-12 wp-custom-logo hfeed">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJPTCFZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-dark-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0 0.49803921568627"></feFuncR><feFuncG type="table" tableValues="0 0.49803921568627"></feFuncG><feFuncB type="table" tableValues="0 0.49803921568627"></feFuncB><feFuncA type="table" tableValues="1 1"></feFuncA></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"></feComposite></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0 1"></feFuncR><feFuncG type="table" tableValues="0 1"></feFuncG><feFuncB type="table" tableValues="0 1"></feFuncB><feFuncA type="table" tableValues="1 1"></feFuncA></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"></feComposite></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-purple-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0.54901960784314 0.98823529411765"></feFuncR><feFuncG type="table" tableValues="0 1"></feFuncG><feFuncB type="table" tableValues="0.71764705882353 0.25490196078431"></feFuncB><feFuncA type="table" tableValues="1 1"></feFuncA></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"></feComposite></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-blue-red"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0 1"></feFuncR><feFuncG type="table" tableValues="0 0.27843137254902"></feFuncG><feFuncB type="table" tableValues="0.5921568627451 0.27843137254902"></feFuncB><feFuncA type="table" tableValues="1 1"></feFuncA></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"></feComposite></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-midnight"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0 0"></feFuncR><feFuncG type="table" tableValues="0 0.64705882352941"></feFuncG><feFuncB type="table" tableValues="0 1"></feFuncB><feFuncA type="table" tableValues="1 1"></feFuncA></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"></feComposite></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-magenta-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0.78039215686275 1"></feFuncR><feFuncG type="table" tableValues="0 0.94901960784314"></feFuncG><feFuncB type="table" tableValues="0.35294117647059 0.47058823529412"></feFuncB><feFuncA type="table" tableValues="1 1"></feFuncA></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"></feComposite></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-purple-green"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0.65098039215686 0.40392156862745"></feFuncR><feFuncG type="table" tableValues="0 1"></feFuncG><feFuncB type="table" tableValues="0.44705882352941 0.4"></feFuncB><feFuncA type="table" tableValues="1 1"></feFuncA></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"></feComposite></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-blue-orange"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "></feColorMatrix><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0.098039215686275 1"></feFuncR><feFuncG type="table" tableValues="0 0.66274509803922"></feFuncG><feFuncB type="table" tableValues="0.84705882352941 0.41960784313725"></feFuncB><feFuncA type="table" tableValues="1 1"></feFuncA></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"></feComposite></filter></defs></svg>
<header>
<!--     
<div id="preloader" >
      </div> -->
      
  <nav class="menu-principal navbar navbar-expand-md fixed-top  w-100 " aria-label="Energicidad">
    <div class="container"> <!-- container-fluid -->
      <a class="navbar-brand" href="https://energicidad.com">
        <div class="logo">
          <img class="img-fluid" src="https://energicidad.com/web/wp-content/uploads/2021/07/Logo-modelo-1.png" alt="energicidad logo">
        </div>
      </a>
   
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa-solid fa-bars"></i>
      </button>



      <div class="navbar-collapse collapse " id="main-menu">
      <ul id="menu-menu-1" class="navbar-nav ms-auto mb-2 mb-md-0 "><li id="menu-item-306" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-306"><a href="https://energicidad.com/" class="nav-link ">Inicio</a></li>
<li id="menu-item-426" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-426"><a href="https://energicidad.com/nosotros/" class="nav-link ">Nosotros</a></li>

<li id="menu-item-1041" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-1041"><a href="<%= root_url %>" class="nav-link active">Productos</a></li>

<li id="menu-item-484" class="menu-item menu-item-type-taxonomy menu-item-object-category nav-item nav-item-484"><a href="https://energicidad.com/category/servicios/" class="nav-link ">Servicios</a></li>
<li id="menu-item-487" class="menu-item menu-item-type-taxonomy menu-item-object-category nav-item nav-item-487"><a href="https://energicidad.com/category/proyecto/" class="nav-link ">Clientes</a></li>
<li id="menu-item-1399" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item nav-item nav-item-1399"><a href="https://energicidad.com/blog/" class="nav-link ">Blog</a></li>
<li id="menu-item-1041" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-1041"><a href="https://energicidad.com/contactanos/" class="nav-link ">Contáctanos</a></li>

 
</ul>
 
      </div>
    </div>
  </nav>

  
  
</header>
      

<section id="header-content" class="container-fluid px-0 image shadow" style="background-image: url(https://energicidad.com/web/wp-content/uploads/2021/09/Servicio-01.jpg); background-attachment: initial;">
 <div class="cover-layer bg-dark"></div>
</section>

<main class="bg-white"> 
  <section>
    <div class="container-fluid py-1">
      <div id="cart"><% if @cart%><% render(@cart) %><% end %></div>
      <%= yield %>
    </div>
   
  </section>
</main>




<footer>
<!-- Section: Links  -->
<section>
  <div class="container text-center text-md-start">

    <div class="row">
      <div class="col-md-4 mx-auto mb-4">
        <div id="custom_html-2" class="widget_text widget widget_custom_html"><h5 class="widget-title">Energicidad</h5><div class="textwidget custom-html-widget"><p>
Empresa especializada en diseño y ejecución de sistemas de utilización en media tensión e instalaciones eléctricas en baja tensión para el sector industrial e inmobiliario.
</p></div></div>      </div>
      <div class="col-md-4 mx-auto mb-4">
        <div id="nav_menu-2" class="widget widget_nav_menu"><h5 class="widget-title">Servicios</h5><div class="menu-footer-widget-1-container"><ul id="menu-footer-widget-1" class="menu"><li id="menu-item-975" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-975"><a href="https://energicidad.com/servicios/proyectos-electricos/">Proyectos eléctricos</a></li>
<li id="menu-item-976" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-976"><a href="https://energicidad.com/servicios/instalaciones-electricas/">Instalaciones eléctricas</a></li>
<li id="menu-item-977" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-977"><a href="https://energicidad.com/servicios/calidad-energia/">Calidad de energía</a></li>
<li id="menu-item-978" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-978"><a href="https://energicidad.com/servicios/mantenimiento-electrico/">Mantenimiento eléctrico</a></li>
</ul></div></div>      </div>
    <div class="col-md-4 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h5 class="widget-title"> Contactanos </h5>

    <ul class="contacicons">
          <li> <i class="fa-solid fa-house"></i> <a href="https://www.google.com/maps/place/ENERGICIDAD+-+Oficina+principal/@-12.0603206,-76.9432403,15z/data=!4m5!3m4!1s0x0:0x70333a4605e5c3df!8m2!3d-12.0603206!4d-76.9432403">C. Miguel de Cervantes Saavedra 127. La Molina, Lima, Perú 15012</a></li>
      <li> <i class="fa-solid fa-phone-flip"></i>  <a href="tel:998578546"> 998578546</a></li>
          <li> <i class="fa-solid fa-envelope"></i> <a href="#"></a><a href="mailto:soluciones@energicidad.com"> soluciones@energicidad.com</a></li>
        </ul>
    <div>
      <ul class="socialicons">
              <li class="list-inline-item"><a href="https://www.linkedin.com/company/energicidad/about/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
    
    </div>
      </div>
    </div>
    
  </div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div class="footer-copyright text-center p-2">
  © 2023 Copyright Todos los Derechos Reservados
</div>
<!-- Copyright -->
</footer>


<div class="joinchat joinchat--right joinchat--dark-auto joinchat--btn joinchat--show" data-settings="{&quot;telephone&quot;:&quot;51998578546&quot;,&quot;mobile_only&quot;:false,&quot;button_delay&quot;:2,&quot;whatsapp_web&quot;:false,&quot;qr&quot;:true,&quot;message_views&quot;:1,&quot;message_delay&quot;:10,&quot;message_badge&quot;:false,&quot;message_send&quot;:&quot;&quot;,&quot;message_hash&quot;:&quot;&quot;}">
  <div class="joinchat__button">
    <div class="joinchat__button__open"></div>
      <div class="joinchat__qr">
        <div>Escanea el código</div>
        <canvas width="200" height="200" style="width: 200px; height: 200px;"></canvas>
      </div>
    </div>
  </div>
 


<style id="core-block-supports-inline-css">
.wp-container-4.wp-container-4{flex-wrap:nowrap;}
</style>
<script id="getwid-blocks-frontend-js-js-extra">
var Getwid = {"settings":[],"ajax_url":"https:\/\/energicidad.com\/web\/wp-admin\/admin-ajax.php","isRTL":"","nonces":{"recaptcha_v2_contact_form":"87e8caf72c"}};
</script>
<script src="https://energicidad.com/web/wp-content/plugins/getwid/assets/js/frontend.blocks.js?ver=1.8.7" id="getwid-blocks-frontend-js-js"></script>
<script src="https://energicidad.com/web/wp-content/plugins/contact-form-7/includes/swv/js/index.js?ver=5.7.6" id="swv-js"></script>
<script id="contact-form-7-js-extra">
var wpcf7 = {"api":{"root":"https:\/\/energicidad.com\/wp-json\/","namespace":"contact-form-7\/v1"}};
</script>
<script src="https://energicidad.com/web/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.7.6" id="contact-form-7-js"></script>
<script id="superpwa-register-sw-js-extra">
var superpwa_sw = {"url":"\/superpwa-sw.js?2.2.5","disable_addtohome":"0","enableOnDesktop":""};
</script>
<script src="https://energicidad.com/web/wp-content/plugins/super-progressive-web-apps/public/js/register-sw.js" id="superpwa-register-sw-js"></script>
<script src="https://energicidad.com/web/wp-content/themes/energicidad/js/navigation.js?ver=1.0.0" id="energicidad-navigation-js"></script>
<script src="https://energicidad.com/web/wp-content/themes/energicidad/js/libs.js?ver=1.0.0" id="libs_js-js"></script>
<script src="https://energicidad.com/web/wp-content/themes/energicidad/js/script.js?ver=1.0.0" id="script_js-js"></script>
<script src="https://energicidad.com/web/wp-content/plugins/easy-fancybox/fancybox/1.5.4/jquery.fancybox.min.js?ver=6.2.2" id="jquery-fancybox-js"></script>
<script id="jquery-fancybox-js-after">
var fb_timeout, fb_opts={'overlayShow':true,'hideOnOverlayClick':true,'showCloseButton':true,'margin':20,'enableEscapeButton':true,'autoScale':true };
if(typeof easy_fancybox_handler==='undefined'){
var easy_fancybox_handler=function(){
jQuery([".nolightbox","a.wp-block-fileesc_html__button","a.pin-it-button","a[href*='pinterest.com\/pin\/create']","a[href*='facebook.com\/share']","a[href*='twitter.com\/share']"].join(',')).addClass('nofancybox');
jQuery('a.fancybox-close').on('click',function(e){e.preventDefault();jQuery.fancybox.close()});
/* IMG */
var fb_IMG_select=jQuery('a[href*=".jpg" i]:not(.nofancybox,li.nofancybox>a),area[href*=".jpg" i]:not(.nofancybox),a[href*=".jpeg" i]:not(.nofancybox,li.nofancybox>a),area[href*=".jpeg" i]:not(.nofancybox),a[href*=".png" i]:not(.nofancybox,li.nofancybox>a),area[href*=".png" i]:not(.nofancybox),a[href*=".webp" i]:not(.nofancybox,li.nofancybox>a),area[href*=".webp" i]:not(.nofancybox)');
fb_IMG_select.addClass('fancybox image');
var fb_IMG_sections=jQuery('.gallery,.wp-block-gallery,.tiled-gallery,.wp-block-jetpack-tiled-gallery');
fb_IMG_sections.each(function(){jQuery(this).find(fb_IMG_select).attr('rel','gallery-'+fb_IMG_sections.index(this));});
jQuery('a.fancybox,area.fancybox,.fancybox>a').each(function(){jQuery(this).fancybox(jQuery.extend(true,{},fb_opts,{'transitionIn':'elastic','easingIn':'easeOutBack','transitionOut':'elastic','easingOut':'easeInBack','opacity':false,'hideOnContentClick':false,'titleShow':true,'titlePosition':'over','titleFromAlt':true,'showNavArrows':true,'enableKeyboardNav':true,'cyclic':false}))});
};};
var easy_fancybox_auto=function(){setTimeout(function(){jQuery('a#fancybox-auto,#fancybox-auto>a').first().trigger('click')},1000);};
jQuery(easy_fancybox_handler);jQuery(document).on('post-load',easy_fancybox_handler);
jQuery(easy_fancybox_auto);
</script>
<script src="https://energicidad.com/web/wp-content/plugins/easy-fancybox/vendor/jquery.easing.min.js?ver=1.4.1" id="jquery-easing-js"></script>
<script src="https://energicidad.com/web/wp-content/plugins/creame-whatsapp-me/public/js/kjua.min.js?ver=0.9.0" id="joinchat-qr-js"></script>
<script src="https://energicidad.com/web/wp-content/plugins/creame-whatsapp-me/public/js/joinchat.min.js?ver=4.5.20" id="joinchat-js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LfYwpccAAAAAHyLvtdg4fdhmpJf87gd4N3fW0Tg&amp;ver=3.0" id="google-recaptcha-js"></script>
<script src="https://energicidad.com/web/wp-includes/js/dist/vendor/wp-polyfill-inert.min.js?ver=3.1.2" id="wp-polyfill-inert-js"></script>
<script src="https://energicidad.com/web/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.13.11" id="regenerator-runtime-js"></script>
<script src="https://energicidad.com/web/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0" id="wp-polyfill-js"></script>
<script id="wpcf7-recaptcha-js-extra">
var wpcf7_recaptcha = {"sitekey":"6LfYwpccAAAAAHyLvtdg4fdhmpJf87gd4N3fW0Tg","actions":{"homepage":"homepage","contactform":"contactform"}};
</script>
<script src="https://energicidad.com/web/wp-content/plugins/contact-form-7/modules/recaptcha/index.js?ver=5.7.6" id="wpcf7-recaptcha-js"></script>






<div id="fancybox-tmp"></div><div id="fancybox-loading" title="Cancel"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div><div id="fancybox-overlay"></div><div id="fancybox-wrap" role="dialog" aria-hidden="true" aria-labelledby="fancybox-title" tabindex="-1"><div id="fancybox-outer"><div id="fancybox-content"></div><a id="fancybox-close" href="javascript:;" title="Close" class="fancy-ico" tabindex="1"><span></span></a><a id="fancybox-next" href="javascript:;" title="Next" class="fancy-ico" tabindex="2"><span></span></a><a id="fancybox-prev" href="javascript:;" title="Previous" class="fancy-ico" tabindex="3"><span></span></a><div id="fancybox-title-wrap"></div></div></div><div><div class="grecaptcha-badge" data-style="bottomright" style="width: 256px; height: 60px; display: block; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;"><div class="grecaptcha-logo"><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfYwpccAAAAAHyLvtdg4fdhmpJf87gd4N3fW0Tg&amp;co=aHR0cHM6Ly9lbmVyZ2ljaWRhZC5jb206NDQz&amp;hl=es&amp;v=sNQO7xVld1CuA2hfFHvkpVL-&amp;size=invisible&amp;cb=8qsopzbcugbu" width="256" height="60" role="presentation" name="a-evbq8rm5u1mc" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><div class="grecaptcha-error"></div><textarea id="g-recaptcha-response-100000" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div><scribe-shadow id="crxjs-ext" style="position: fixed; width: 0px; height: 0px; top: 0px; left: 0px; z-index: 2147483647; overflow: visible;"></scribe-shadow>

</body>
</html>


